# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env
*.log

# Docker
*.pid
*.seed
*.pid.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
/data/

# Local secrets
.streamlit/secrets.toml

# Database
*.db
*.sqlite3
